@media screen and (max-width: 1200px) {
  .container {
    max-width: 970px;
  }
}
@media screen and (max-width: 992px) {
  .container {
    max-width: 750px;
    // max-width: none;
  }
  //==================================================================================================
  .nav {
    position: fixed;
    left: 0;
    top: 0;
    border: none;
    max-width: 400px;
    width: 80%;
    height: 100vh;
    z-index: 100;
    box-shadow: 5px 0 15px -5px rgba(0, 0, 0, 0.8);
    background-color: #fff;
    transform: translateX(-150vw);
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
  }

  .nav__list {
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    padding-top: 10%;
    // position: absolute;
  }
  .nav__item {
    margin-left: 0 !important;
    font-size: 20px;
    width: 100%;
    padding: 0;
    position: static;
  }
  .nav__link,
  .dropdown-submenu__list-item a,
  .dropdown-list__link {
    padding: 20px 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #bfbfbf;
    color: #000;
  }
  .nav__link {
    &::after {
      transform: rotate(-90deg);
    }
  }
  .drawer{
    width: 300px;
  }
  .nav__list--dropdown {
    position: absolute;
    top: 0;
    right: 0;
    left: 100%;
    box-shadow: none;
    width: 100%;
    display: block;
  }
  .block{
    flex-direction: column;
  }
  // .nav__list--dropdown{
  //   display: block;
  //   opacity: 1;
  //   visibility: visible;
  // }
  .dropdown-submenu__item {
    width: 100%;
    padding: 0;
    border: none !important;
  }
  .dropdown-submenu__title {
    padding: 0 30px;
  }
  .dropdown-submenu__banner {
    display: inline-block;
    padding: 20px;
  }
  .nav__list.transformation {
    transform: translateX(-100%);
    transition: all 0.3s;
  }
  .nav__list--dropdown.transformation {
    opacity: 1;
    visibility: visible;
    transform: none;
    background-color: #fff;
    transition: all 0.3s;
  }
  .nav.open {
    transform: translateX(0);
    transition: all 0.5s;
  }
  .overlay.open {
    transition: all 0.3s;
    opacity: 1;
    visibility: visible;
  }
  // .lock {
  //   overflow: hidden;
  // }
  .mobile-back {
    a {
      position: relative;
      border: none;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      &::before {
        content: "";
        width: 10px;
        height: 10px;
        // background-image: url(../img/down-arrow.svg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: inline-block;
        margin-right: 10px;
        transform: rotate(90deg);
      }
    }
  }

}
